<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true" strict="true">
	<testsuites>
		<testsuite name="Peyote Test Suite">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">tests/classes/</directory>
		</blacklist>
	</filter>

	<logging>
		<log type="coverage-text" target="php://stdout" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="90"/>
	</logging>

</phpunit>