/* =============================================================================
   Button
   ========================================================================== */

.button {
	display: inline-block;
	padding: 0.5em 1em;
	box-shadow: 2px 2px 3px rgba(0,0,0, 0.25);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	overflow: visible;
	background-color: $colorYellow;
	border:1px solid rgba(0,0,0,0.25);
	font-weight: bold;
	color:#FFF;
	border-radius: 0.25em;
	text-shadow:
		1px 1px 1px rgba(0,0,0,0.75);
}

.button:hover  {
	cursor: pointer;
}

.button:active {
	box-shadow:	inset 0 0 5px 2px rgba(0,0,0,0.2);
}
