/* =============================================================================
   Syntax Highlighting
   ========================================================================== */

.c1 {
	color: #999;
	font-variant: italic;
}

.nv, .na {
	color: #008080;
}

.s1, .s2 {
	color: #DD1144;
}