/* =============================================================================
   Responsive'ness
   ========================================================================== */
 
@media (max-width: 768px) {
	.container {
		@include border-box;
		width: 100%;
	}
	
	[class*="span"] {
		display: block;
		float: none;
		width: auto;
		margin-left: 0;
	}

	.hd { display: none; }
	.sd { display: none; }
	.mobile { display: inherit; }
	.hide-mobile { display:none; }
}

@media (min-width: 769px) and (max-width: 1199px) {
	.container {
		@include border-box;
		width: 100%;
	}

	.hd { display:none; }
	.sd { display: inherit; }
	.mobile { display: none; }
	.hide-mobile { display:inherit; }
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}

	.hd { display: inherit; }
	.sd { display: none; }
	.mobile { display: none; }
	.hide-mobile { display:inherit; }
}
