/* =============================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$colorPrimary: #893400;
$colorLight: #A63F00;
$colorAccent: #F4EF71;

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSize: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;