/* =============================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$colorDeepPurple: #3A1828;
$colorPink: #F5E5ED;
$colorYellow: #F4EF71;

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSize: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;