/* =============================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$colorPrimary: #059E45;
$colorLight: #4DD56D;
$colorAccent: #F4EF71;

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSize: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;