/*
	@author    Dave Widmer <dave@davewidmer.net>
*/
/* ============================================================================= Object Oriented CSS ========================================================================== */
/* ============================================================================= Variables ========================================================================== */
/* Colors ========================================================================== */
/* Grid ========================================================================== */
/* ============================================================================= Mixins ========================================================================== */
/** Creates a cross browser gradient  @param $dir     The direction of the gradient @param $color1  The first color @param $color2  The second color */
/** Adds the border box code. */
/** Translate 3d mixin  @param $x  The x coord (left/right) @param $y  The y coord (up/down) @param $z  The z coord (angle/spin...) */
/** Transitions  @param $prop  The property to transition @param $time  The amount of time the animation takes (in seconds) @param $fn    The easing function */
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/* Corrects `block` display not defined in IE6/7/8/9 & FF3. */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* Corrects `inline-block` display not defined in IE6/7/8/9 & FF3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS5 devices. */
audio:not([controls]) { display: none; height: 0; }

/* Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4. Known issue: no IE6 support. */
[hidden] { display: none; }

/* ========================================================================== Base ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using `em` units. 2. Prevents iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/* Addresses `font-family` inconsistency between `textarea` and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers. people.opera.com/patrickl/experiments/keyboard/test */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/* Addresses font sizes and margins set differently in IE6/7. Addresses font sizes within `section` and `article` in FF4+, Chrome, S5. */
h1 { font-size: 2.5em; margin: 0.67em 0; }

h2 { font-size: 2em; margin: 0.83em 0; }

h3 { font-size: 1.5em; margin: 1em 0; }

h4 { font-size: 1.25em; margin: 1.33em 0; }

h5 { font-size: 1.125em; margin: 1.67em 0; }

h6 { font-size: 1em; margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to `bolder` in FF3+, S4/5, Chrome. */
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome. */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9. */
mark { background: #ff0; color: #000; }

/* Addresses margins set differently in IE6/7. */
p, pre { margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome. en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: "courier new", monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* Addresses CSS quotes not supported in IE6/7. */
q { quotes: none; }

/* Addresses `quotes` property not supported in S4. */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents `sub` and `sup` affecting `line-height` in all browsers. gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Lists ========================================================================== */
/* Addresses margins set differently in IE6/7. */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7. */
menu, ol, ul { padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7. */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* ========================================================================== Embedded content ========================================================================== */
/* 1. Removes border when inside `a` element in IE6/7/8/9, FF3. 2. Improves image quality when scaled in IE7. code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/* Corrects margin displayed oddly in IE6/7. */
form { margin: 0; }

/* Define consistent border, margin, and padding. */
fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9. 2. Corrects text not wrapping in FF3. 3. Corrects alignment displayed oddly in IE6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/* 1. Corrects font size not being inherited in all browsers. 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome. 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Corrects inability to style clickable `input` types in iOS. 3. Improves usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE7 without affecting normal text inputs. Known issue: inner spacing remains in IE6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/* Re-set default cursor for disabled elements. */
button[disabled], input[disabled] { cursor: default; }

/* 1. Addresses box sizing set to content-box in IE8/9. 2. Removes excess padding in IE8/9. 3. Removes excess padding in IE7. Known issue: excess padding remains in IE6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/* 1. Addresses `appearance` set to `searchfield` in S5, Chrome. 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Removes inner padding and search cancel button in S5, Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Removes inner padding and border in FF3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9. 2. Improves readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/* Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

/* ============================================================================= Button ========================================================================== */
.button { display: inline-block; padding: 0.5em 1em; box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25); text-align: center; text-decoration: none; cursor: pointer; outline: none; overflow: visible; background-color: #f4ef71; border: 1px solid rgba(0, 0, 0, 0.25); font-weight: bold; color: #000; border-radius: 0.25em; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75); }

.button:hover { cursor: pointer; }

.button:active { box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2); }

/* ============================================================================= Grid ========================================================================== */
.container { width: 960px; margin: 0 auto; }

.row { width: 100%; }

.row:before, .row:after { display: table; content: ""; }

.row:after { clear: both; }

[class*="span"] { margin-left: 2%; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

[class*="span"]:first-child { margin-left: 0; }

/* Grid ========================================================================== */
.span1 { width: 6.5%; }

.span2 { width: 15%; }

.span3 { width: 23.5%; }

.span4 { width: 32%; }

.span5 { width: 40.5%; }

.span6 { width: 49%; }

.span7 { width: 57.5%; }

.span8 { width: 66%; }

.span9 { width: 74.5%; }

.span10 { width: 83%; }

.span11 { width: 91.5%; }

.span12 { width: 100%; }

/* ============================================================================= Responsive'ness ========================================================================== */
@media (max-width: 768px) { .container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; }
  [class*="span"] { display: block; float: none; width: auto; margin-left: 0; }
  .hd { display: none; }
  .sd { display: none; }
  .mobile { display: inherit; }
  .hide-mobile { display: none; } }
@media (min-width: 769px) and (max-width: 1199px) { .container { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; }
  .hd { display: none; }
  .sd { display: inherit; }
  .mobile { display: none; }
  .hide-mobile { display: inherit; } }
@media (min-width: 1200px) { .container { width: 1200px; }
  .hd { display: inherit; }
  .sd { display: none; }
  .mobile { display: none; }
  .hide-mobile { display: inherit; } }
/* ============================================================================= Syntax Highlighting ========================================================================== */
.code { padding: 1em; background-color: #F8F8F8; border: 1px solid #cccccc; font-family: "Droid Mono", Consolas, monospace; line-height: 1.25em; }

.c1 { color: #999; font-variant: italic; }

.nv, .na { color: #008080; }

.s1, .s2 { color: #DD1144; }

/* ============================================================================= Theme ========================================================================== */
body { font-size: 16px; font-family: Arial, sans-serif; background-image: url("sneaker_mesh_fabric.png"); color: #333; }

a { color: #059e45; }

.container { background-color: #fff; box-shadow: 0 0 0.5em #999999; }

header { background-color: #d6f5dd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; padding: 1em; }
header a { text-decoration: none; }

nav .navigation { -webkit-transform: translate3d(0, 1.45em, 0); -moz-transform: translate3d(0, 1.45em, 0); -o-transform: translate3d(0, 1.45em, 0); -ms-transform: translate3d(0, 1.45em, 0); transform: translate3d(0, 1.45em, 0); }

.navigation { padding: 0; margin: 0 0 -16px; text-align: right; }
.navigation > li { display: inline-block; margin-left: 1em; }
.navigation > li a { display: block; font-size: 1.125em; padding: 0.5em; text-decoration: none; color: #fff; background-color: #059e45; border-radius: 0.5em 0.5em 0 0; }

footer { padding: 1em; font-size: 0.85em; text-align: right; }
footer .pad { padding-bottom: 0; }

.blue { background-color: #059e45; }

.pad { padding: 1em; }

.shrink { padding: 0; margin: 0; }

.top-line { border-top: 1px solid lightgrey; }

.headline { margin: 0; }

.fit { max-width: 100%; height: auto; }

.box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.white { color: #fff; }

.shadow-text { text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }

.valign { margin-top: 0; }

.large { font-size: 2em; }

.air-out > li { margin: 0.5em 0; }

@media (max-width: 768px) { nav .navigation { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }
@media (max-width: 450px) { nav { padding-bottom: 1em; }
  nav .navigation { text-align: left; }
  nav .navigation > li { margin: 0 1em 0.5em 0; }
  nav .navigation > li a { border-radius: 0.5em; } }
