<!doctype html>
<html lang="en">
<head>
	<title>Peyote :: Build MySQL Queries the OOP Way</title>

	<meta charset="utf-8" />
	<meta name="author" content="Dave Widmer" />
	<meta name="keywords" content="Peyote, MySQL, Query Builder, OOP" />
	<meta name="description" content="Peyote, Build MySQL Queries the OOP Way" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>
<body>
	<div class="container">
		<header>
			<div class="row">
				<div class="span2">
					<h1 class="headline"><a href="index.html">Peyote</a></h1>
				</div>
				<div class="span10">
					<nav>
						<ul class="navigation">
							<li><a href="index.html">Home</a></li>
							<li><a href="download.html">Download</a></li>
							<li><a href="api/current/index.html">API</a></li>
							<li><a href="https://github.com/davewid/peyote">Contribute</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<section class="content">
			{{ content }}
		</section>
		<footer>
			<div class="row">
				<div class="span12 pad top-line">
					Developed by <a href="http://www.davewidmer.net">Dave Widmer</a> &copy; 2012-2013<br />
					Peyote sketch by <a href="http://scootsketches.blogspot.com/">Scott McMahon</a>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>